html {
    font-size:100.01%
}
body {
    margin:0;
    font:12px Verdana, Arial, sans-serif;
    font-size:0.75em;
    background-color:#DFDFDF;
    background-color:#DFFFEF;
    background-color:#E0EFE7;
    background-color:#EFFFF7;
    background-color:#DFFFE3;
}

img {border:0;}
.fl {float:left;}
.fr {float:right;}
.clearer {clear:both;}
label { cursor:pointer; }
a {color:#00763B;}
p {margin: 8px 0 8px 0;}

label {
    display: block;
    margin: 1px 0 2px 0;
    font-weight: bold;
}

.rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -op-border-radius: 6px;
    -ie-border-radius: 6px;
    border-radius: 6px;
    padding: 6px 0px;
}

.base-outer {
    width:100%;
    text-align:center;
}

.base-inner {
    margin:auto;
    width:732px;
    text-align:left;
}

.header {
    background-color:#00763B;
    margin:6px 0 6px 0;
}

.header .inner {
    padding:3px;
}

.navi {
    margin: 20px 20px 0 0;
}
.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navi ul li {
    list-style-type: none;
    margin: 3px 0 0 0;
    padding: 0;
}
.navi ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #00763B;
    color: #FFF;
}

.footer {
    margin:6px 0 6px 0;
    text-align:right;
    background-color:#008F46;
    background-color:#00763B;
}

.footer .inner {
    padding:0px 6px 0px 6px;
}

.footer .inner .white {
    background-color:#FFF;
}

.footer .inner .white .inner {
    padding:5px 10px 0 6px;
    color:#5F5F5F;
}






.players {
    background-color:#008F46;
    background-color:#00763B;
}
.players .inner {
    padding:0px 6px 1px 6px;
}

.player {
    background-color:#FFF;
    color:#00763B;
}
.player .inner .name {
    cursor:pointer;
}
.player .inner .description {
    /*padding:6px 0;*/
    width: 700px;
}
.player .inner {
    padding:0px 6px 0px 6px;
}
